*.xcbkptlist
MartianForum.xcodeproj/xcuserdata/domagoj.kulundzic.xcuserdatad/xcschemes/xcschememanagement.plist
MartianForum.xcworkspace/xcuserdata/domagoj.kulundzic.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/domagoj.kulundzic.xcuserdatad/xcschemes/xcschememanagement.plist
